body {
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/66/14/b5/6614b5564b7874dcfb2bed2a321821c1.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: transparent;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.balance {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: black;
    color: transparent;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
